<div class="cardMe">
    <mat-card class="example-card">
        <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Luis Alberto López Gutiérrez</mat-card-title>
        <mat-card-subtitle>Lic. Sistemas Computacionales</mat-card-subtitle>
        
        </mat-card-header>
        <img mat-card-image src="../../../assets/Vectores/home.svg" alt="Photo of a Shiba Inu">
        <mat-card-content>
        <p>
            Experiencia a diferentes niveles trabajando con los siguientes lenguajes y frameworks para
            BackEnd y FrontEnd
        </p>
            <br/>

            <mat-chip-list aria-label="Fish selection">
                <mat-chip color="primary" selected>C#</mat-chip>               
                <mat-chip color="primary" selected>.Net</mat-chip>
                <mat-chip color="primary" selected>Windows Forms</mat-chip>
                <mat-chip color="primary" selected>Blazor</mat-chip>
                <mat-chip color="primary" selected>EntityFramework</mat-chip>
                
                <mat-chip color="primary" selected>Javascript</mat-chip>
                <mat-chip color="primary" selected>Angular</mat-chip>
                <mat-chip color="primary" selected>Angular Material</mat-chip>
                <mat-chip color="primary" selected>Angular JS</mat-chip>
                <mat-chip color="primary" selected>IONIC</mat-chip>
                <mat-chip color="primary" selected>Node JS</mat-chip>

                <mat-chip color="primary" selected>Python FLASK (API Rest)</mat-chip>
                <mat-chip color="primary" selected>Laravel (API Rest)</mat-chip>
                
                <mat-chip color="primary" selected>Bootstrap 4</mat-chip>
                <mat-chip color="primary" selected>JQuery</mat-chip>
                
                <mat-chip color="primary" selected>JSON API Rest</mat-chip>
                <mat-chip color="primary" selected>Web Services SOAP XML</mat-chip>

                <mat-chip color="primary" selected>SQL Server</mat-chip>
                <mat-chip color="primary" selected>Oracle</mat-chip>
                <mat-chip color="primary" selected>MySQL</mat-chip>
                <mat-chip color="primary" selected>Firebase</mat-chip>

                <mat-chip color="primary" selected>Dart</mat-chip>
                <mat-chip color="primary" selected>Flutter</mat-chip>

                <mat-chip color="primary" selected>GIT</mat-chip>
                <mat-chip color="primary" selected>Github</mat-chip>



            </mat-chip-list>
       
        </mat-card-content>
        <mat-card-actions>          
        </mat-card-actions>
    </mat-card>
</div>